<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <permission
        android:name="${applicationId}.SERVICE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:ignore="LeanbackUsesWifi" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"
        android:minSdkVersion="34" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="com.github.shadowsocks.plugin.ACTION_NATIVE_PLUGIN" />
        </intent>
        <intent>
            <action android:name=".plugin.ACTION_NATIVE_PLUGIN" />
        </intent>
    </queries>

    <application
        android:name=".SagerNet"
        android:allowBackup="true"
        android:autoRevokePermissions="allowed"
        android:banner="@mipmap/unitavpn_ic_launcher"
        android:dataExtractionRules="@xml/backup_rules"
        android:fullBackupContent="@xml/backup_descriptor"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:hasFragileUserData="true"
        android:icon="@mipmap/unitavpn_ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/unitavpn_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SagerNet.Start">

        <activity
            android:name=".vpn.nav.TermsOfServiceActivity"
            android:exported="false" />
        <activity
            android:name=".vpn.nav.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".vpn.ForceUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".vpn.PremiumActivity"
            android:exported="false" />
        <activity
            android:name=".vpn.EmailVerify"
            android:exported="false" />
        <activity
            android:name=".vpn.NotificationActivity"
            android:exported="false"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="NotificationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vpn.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".vpn.DashboardActivity"
            android:directBootAware="true"
            android:exported="false"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="DashboardActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vpn.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".vpn.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".vpn.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".vpn.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />

        <activity
            android:name=".vpn.SplashActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>

            <intent-filter android:label="@string/subscription_import">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="subscription"
                    android:scheme="exclave" />

            </intent-filter>

            <intent-filter android:label="@string/subscription_import">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="install-config"
                    android:scheme="clash" />
            </intent-filter>

            <intent-filter android:label="@string/profile_import">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="exclave" />
                <data android:scheme="ss" />
                <data android:scheme="ssr" />
                <data android:scheme="socks" />
                <data android:scheme="socks4" />
                <data android:scheme="socks4a" />
                <data android:scheme="sock5" />
                <data android:scheme="vmess" />
                <data android:scheme="vless" />
                <data android:scheme="trojan" />
                <data android:scheme="trojan-go" />
                <data android:scheme="naive+https" />
                <data android:scheme="naive+quic" />
                <data android:scheme="brook" />
                <data android:scheme="hysteria" />
                <data android:scheme="hysteria2" />
                <data android:scheme="hy2" />
                <data android:scheme="juicity" />
                <data android:scheme="tuic" />

            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.VpnRequestActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="" />
        <activity
            android:name=".ui.profile.SocksSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.HttpSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.ShadowsocksSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.ShadowsocksRSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.VMessSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.VLESSSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.TrojanSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.TrojanGoSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.NaiveSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.BrookSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.HysteriaSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.Hysteria2SettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.SSHSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.WireGuardSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.MieruSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.TuicSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.Tuic5SettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.ShadowTLSSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.JuicitySettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.ConfigSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.ConfigEditActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.ChainSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.profile.BalancerSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.GroupSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.RouteSettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.AssetsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.AppListActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".QuickToggleShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/quick_toggle"
            android:launchMode="singleTask"
            android:process=":bg"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AppManagerActivity"
            android:configChanges="uiMode"
            android:excludeFromRecents="true"
            android:label="@string/proxied_apps"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.ScannerActivity"
            android:configChanges="uiMode"
            android:excludeFromRecents="true"
            android:label="@string/add_profile_methods_scan_qr_code"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.ProfileSelectActivity"
            android:configChanges="uiMode"
            android:label="@string/select_profile"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.StunActivity"
            android:configChanges="uiMode"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.StunLegacyActivity"
            android:configChanges="uiMode"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.ProbeCertActivity"
            android:configChanges="uiMode"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.SwitchActivity"
            android:configChanges="uiMode"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.SagerNet.Dialog" />

        <service
            android:name=".bg.ProxyService"
            android:directBootAware="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:process=":bg">

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="proxy" />
        </service>

        <service
            android:name=".bg.VpnService"
            android:directBootAware="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":bg">

            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn" />
        </service>

        <service
            android:name=".bg.TileService"
            android:directBootAware="true"
            android:exported="true"
            android:icon="@drawable/unitavpn_ic_service_active"
            android:label="@string/tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":bg"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>
        <service
            android:name=".vpn.utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.cache"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cache_paths" />
        </provider>

        <receiver
            android:name=".BootReceiver"
            android:directBootAware="true"
            android:enabled="false"
            android:exported="true"
            android:process=":bg">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!--<action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />-->
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:process=":bg" />

        <receiver
            android:name=".tasker.TaskerReceiver"
            android:directBootAware="true"
            android:exported="true"
            android:process=":bg"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".tasker.TaskerActivity"
            android:configChanges="uiMode"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

    </application>

</manifest>